 /* Global Styles */

 body {
    background-color: antiquewhite;
 }

 img {
    display:block;
    margin: 0 auto;
    width: 100%;
 }

 a {
    color: darkslategray;
 }

 a:hover {
    text-decoration: none;
 }

 /* Mobile Styles */

 #container {
   border: 4px solid darkslategray ;
   
 }

 nav {
   text-align: center;
 }

 nav ul {
   padding: 0;
   list-style-type: none;
 }

 nav li {
   display: block;
 }

 nav li a {
   display:block;
   background-color: cadetblue;
   height: 20px;
   line-height: 20px;
   text-decoration: none;
   font-size:15px ;
 }