 /* Global Styles */

 body {
    background-color: antiquewhite;
 }

 img {
    display:block;
    margin: 0 auto;
    width: 100%;
 }

 a {
    color: darkslategray;
 }

 a:hover {
    text-decoration: none;
 }

 /* Mobile Styles */

 #container {
   border: 4px solid darkslategray ;
   
 }

 nav {
   text-align: center;
 }

 nav ul {
   padding: 0;
   list-style-type: none;
 }

 nav li {
   display: block;
 }

 nav li a {
   display:block;
   background-color: cadetblue;
   height: 20px;
   line-height: 20px;
   text-decoration: none;
   font-size:15px ;
 }

 nav li a:hover{
   color: darkgoldenrod;
 }

 main {
  padding: 10px;
  margin: 10px;
 }

 .main_content {
  padding: 10px;
 }

 .col {
  margin: 10px 0;
 }

 .col img {
  border-radius: 10px;
  border: 3px solid cadetblue
 }

 footer {
  padding: 40px;
  text-align: center;
 }

 .contact_context {
  text-align: center;
 }
 
 section,
 aside {
   border: 4px solid cornflowerblue;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
 }

 /* Tablet Styles */

 @media (min-width: 768px) {
    nav{
      padding: 10px 0;
      border-bottom: 4px solid cornflowerblue;
    }
    nav li {
      display: inline;
    }

    nav li a {
      display: inline-block;
      width: 150px;
      height: 40px;
    }
    main{
      margin-top: 10px;
    }
    .col img {
      width: 65%;
    }
 }

 /* Desktop Styles */
 @media (mid-width: 1024px){
  #container {
    width: 65%;
    margin: 20px auto;
    background-color: cadetblue;
  }

  .gallery {
    display: flex;
  }

  .multi_col {
    display: flex;
  }

  .home_section {
    width: 70%;
  }

  .home_aside {
    width: 30%;
  }
 }